In [2]:
#modules
#modules
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
import pyodbc

The adventureWorks2012 database was used  for this analysis. Data was queried directly with python from the SQL Server the database was hosted.

In [2]:
#import data from sql db
conn = pyodbc.connect("Driver={SQL Server};\
                     Server=SIMIPV;\
                     PWD=Password;Database=AdventureWorks2012;")

#query
df = (pd.read_sql_query("SELECT \
                        SOH.[OnlineOrderFlag], \
                        SOH.[CustomerID], \
                        PP.[Name], \
                        PSC.[Name] as [ProductSubName], \
                        PC.[Name] as [ProductCatName], \
                        SOD.[OrderQty], \
                        SOH.[OrderDate] \
                        FROM [Sales].[SalesOrderHeader] AS [SOH] \
                        INNER JOIN [Sales].[SalesOrderDetail] AS [SOD] \
                        ON [SOH].[SalesOrderID] = SOD.[SalesOrderID] \
                        INNER JOIN [Production].[Product] AS [PP] \
                        ON [SOD].[ProductID] = [PP].ProductID \
                        INNER JOIN [Production].[ProductSubcategory] AS [PSC] \
                        ON [PP].ProductSubcategoryID = PSC.ProductSubcategoryID \
                        INNER JOIN [Production].[ProductCategory] AS [PC] \
                        ON [PSC].ProductCategoryID = [PC].ProductCategoryID \
                        ORDER BY [CustomerID]", conn) )

#write data to csv
df.to_csv("transactionsAHW.csv", index = False)
#preview data
df.head()

,OnlineOrderFlag,CustomerID,Name,ProductSubName,ProductCatName,OrderQty,OrderDate
0,True,11000,"Mountain-200 Silver, 38",Mountain Bikes,Bikes,1,2013-06-20
1,True,11000,"Mountain-100 Silver, 38",Mountain Bikes,Bikes,1,2011-06-21
2,True,11000,Touring Tire Tube,Tires and Tubes,Accessories,1,2013-10-03
3,True,11000,Fender Set - Mountain,Fenders,Accessories,1,2013-06-20
4,True,11000,"Short-Sleeve Classic Jersey, S",Jerseys,Clothing,1,2013-10-03

In [6]:
#read in data
df = pd.read_csv("transactionsAHW.csv")

#preview
df.head()

,OnlineOrderFlag,CustomerID,Name,ProductSubName,ProductCatName,OrderQty,OrderDate
0,True,11000,Fender Set - Mountain,Fenders,Accessories,1,2013-06-20
1,True,11000,"Mountain-100 Silver, 38",Mountain Bikes,Bikes,1,2011-06-21
2,True,11000,Touring Tire Tube,Tires and Tubes,Accessories,1,2013-10-03
3,True,11000,"Mountain-200 Silver, 38",Mountain Bikes,Bikes,1,2013-06-20
4,True,11000,"Sport-100 Helmet, Red",Helmets,Accessories,1,2013-10-03

In [7]:
#Filter for online transactions only
df = df[df["OnlineOrderFlag"] == True]

### Data Investigation

In [8]:
#dimention
df.shape

(60398, 7)

In [9]:
#unique values
df.ProductSubName.unique()

array(['Fenders', 'Mountain Bikes', 'Tires and Tubes', 'Helmets',
       'Jerseys', 'Touring Bikes', 'Road Bikes', 'Bottles and Cages',
       'Caps', 'Gloves', 'Bike Stands', 'Socks', 'Bike Racks', 'Shorts',
       'Hydration Packs', 'Cleaners', 'Vests'], dtype=object)

In [10]:
#missing values
df.isnull().sum()

OnlineOrderFlag    0
CustomerID         0
Name               0
ProductSubName     0
ProductCatName     0
OrderQty           0
OrderDate          0
dtype: int64

### Data Cleaning and Agg

In [11]:
#Change CustomerID to string
df["CustomerID"] = df.CustomerID.map(str)

In [12]:
#summerise data
basket = (df.groupby(["CustomerID", "ProductSubName"])["OrderQty"]
.sum().unstack().reset_index().fillna(0).set_index("CustomerID"))


#preview
basket.head()

ProductSubName,Bike Racks,Bike Stands,Bottles and Cages,Caps,Cleaners,Fenders,Gloves,Helmets,Hydration Packs,Jerseys,Mountain Bikes,Road Bikes,Shorts,Socks,Tires and Tubes,Touring Bikes,Vests
CustomerID,,,,,,,,,,,,,,,,,
11000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,2.0,1.0,0.0
11001,0.0,0.0,4.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0
11002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0
11003,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,1.0,0.0
11004,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
basket.columns

Index(['Bike Racks', 'Bike Stands', 'Bottles and Cages', 'Caps', 'Cleaners',
       'Fenders', 'Gloves', 'Helmets', 'Hydration Packs', 'Jerseys',
       'Mountain Bikes', 'Road Bikes', 'Shorts', 'Socks', 'Tires and Tubes',
       'Touring Bikes', 'Vests'],
      dtype='object', name='ProductSubName')

In [14]:
#remap values to 0 and 1
def encode(x):
    if x<= 0:
        return 0
    else:
        return 1
    
#use function
basket_sets = basket.applymap(encode)

#### Market Basket Analysis

### Support:
    - In Market Basket analysis, support represents the popularity of an item in all transactions. Support of an item is calculated as the number of transactions involving that item and the total number of transactions. 
    Support of an item = *(Number of transactions involving that item)/
                            (Total number of transactions)*

In [20]:
#frequent itemsets
frequent_items = apriori(basket_sets, min_support = 0.07, use_colnames = True)

frequent_items.sort_values(by = "support", ascending = False).head()

    support             itemsets
8  0.459316    (Tires and Tubes)
7  0.346083         (Road Bikes)
4  0.322441            (Helmets)
0  0.246051  (Bottles and Cages)
6  0.221218     (Mountain Bikes)

In [16]:
#Generate the rules
rules = association_rules(frequent_items, metric = "lift", min_threshold = 1)

rules.head(10) #preview

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Road Bikes),(Bottles and Cages),0.346083,0.246051,0.086020,0.248554,1.010174,0.000866,1.003331
1,(Bottles and Cages),(Road Bikes),0.246051,0.346083,0.086020,0.349604,1.010174,0.000866,1.005414
2,(Mountain Bikes),(Helmets),0.221218,0.322441,0.075092,0.339447,1.052742,0.003762,1.025746
3,(Helmets),(Mountain Bikes),0.322441,0.221218,0.075092,0.232886,1.052742,0.003762,1.015210
4,(Helmets),(Tires and Tubes),0.322441,0.459316,0.158029,0.490101,1.067022,0.009926,1.060374
5,(Tires and Tubes),(Helmets),0.459316,0.322441,0.158029,0.344052,1.067022,0.009926,1.032946
6,(Mountain Bikes),(Road Bikes),0.221218,0.346083,0.111069,0.502079,1.450746,0.034509,1.313294
7,(Road Bikes),(Mountain Bikes),0.346083,0.221218,0.111069,0.320932,1.450746,0.034509,1.146838

In [17]:
rules.sort_values(by = "lift",ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
6,(Mountain Bikes),(Road Bikes),0.221218,0.346083,0.111069,0.502079,1.450746,0.034509,1.313294
7,(Road Bikes),(Mountain Bikes),0.346083,0.221218,0.111069,0.320932,1.450746,0.034509,1.146838
4,(Helmets),(Tires and Tubes),0.322441,0.459316,0.158029,0.490101,1.067022,0.009926,1.060374
5,(Tires and Tubes),(Helmets),0.459316,0.322441,0.158029,0.344052,1.067022,0.009926,1.032946
2,(Mountain Bikes),(Helmets),0.221218,0.322441,0.075092,0.339447,1.052742,0.003762,1.025746
3,(Helmets),(Mountain Bikes),0.322441,0.221218,0.075092,0.232886,1.052742,0.003762,1.015210
1,(Bottles and Cages),(Road Bikes),0.246051,0.346083,0.086020,0.349604,1.010174,0.000866,1.005414
0,(Road Bikes),(Bottles and Cages),0.346083,0.246051,0.086020,0.248554,1.010174,0.000866,1.003331

In [25]:
#filter for lift greater than 1 and confidence >= 0.3
rules[(rules['lift'] > 1) &
        (rules["confidence"] >= 0.3)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(Bottles and Cages),(Road Bikes),0.246051,0.346083,0.086020,0.349604,1.010174,0.000866,1.005414
2,(Mountain Bikes),(Helmets),0.221218,0.322441,0.075092,0.339447,1.052742,0.003762,1.025746
4,(Helmets),(Tires and Tubes),0.322441,0.459316,0.158029,0.490101,1.067022,0.009926,1.060374
5,(Tires and Tubes),(Helmets),0.459316,0.322441,0.158029,0.344052,1.067022,0.009926,1.032946
6,(Mountain Bikes),(Road Bikes),0.221218,0.346083,0.111069,0.502079,1.450746,0.034509,1.313294
7,(Road Bikes),(Mountain Bikes),0.346083,0.221218,0.111069,0.320932,1.450746,0.034509,1.146838

### Interpretation of Result